.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,30px);
    gap: 10px;
  }
  .item{
      padding: 20px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,30px);
    gap: 10px;
  }
  .grip-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }